html,
body {
    height: 100%;
    background: url("../images/site/other/background.jpg") no-repeat fixed;
    background-size: cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    /*background-color: #f5f5f5;*/
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

a:link, a:visited {
    background-color: transparent;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    color: #ff0000;
    text-decoration: none;
}

.centered{
    text-align: center;
}
.site_a img {
      width: 560px;
      margin: 0 auto 0;
  }

#live_menu{
    display: block;
    width: 700px;
    margin: 0 auto 0;
}
#live_menu div{
    display: inline-block;
}

#soderzhanie{
}
#soderzhanie h2, #soderzhanie h3{
    font-size: 20px;
}
.book_site{
    width: 800px;
    margin: 20px auto 0;
    padding: 10px 100px 10px 100px;
    background-color: rgba(210, 210, 210, 0.70);
    border-radius: 10px;
}

.book_site img{
    border-radius: 5px;
    transition-duration: 1s;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.book_site img:hover{
    transition-duration: 1s;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.75);
}
.book_site audio{
    display: none;
}

.syllogism{
    width: 700px !important;
}


.img{
    border: 1px transparent;
    border-radius: 5px;
    margin: 10px;
}


/*
    Кнопка прокрутки страницы вверх
*/

#scroll-top,.scroll-top{
    position: fixed;
    opacity: 0;
    transition-duration: .5s;
}
#scroll-top{
    bottom: 50px;
    left: 50px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: lemonchiffon;
    border: 5px solid black;
    cursor: pointer;
}
.scroll-top{
    bottom: 65px;
    left: 58px;
    background: transparent;
    border: 15px solid transparent;
    border-bottom: 20px solid #71BE71;
}

#scroll-top.scroll-top-show, #scroll-top.scroll-top-show div.scroll-top{
    opacity: 1;
    transition-duration: .5s;
}

#first_p, #second_p{
    display: inline-block;
}
#first_p img, #second_p img{
    width: 320px;
    height: 215px;
    border: 1px solid rgba(113, 123, 204, 0.15);
}

.block{
    display: inline-block;
    padding: 10px;
    border: 1px dashed #ff0000;
    border-radius: 5px;
    /*background-color: lightgreen;*/
}

.main_bug{
    position: fixed;
    top: 60px;
    left: 5px;
}